
# SERVER CONFIGURATION

PORT=9000

#  DATABASE
DB_URL=mongodb+srv://<username>:<password>@cluster.mongodb.net/taskmaster


# JWT SECRETS
# (used for access and refresh tokens)
JWT_ACCESS_SECRET=<your-access-secret>
JWT_REFRESH_SECRET=<your-refresh-secret>


# LOCAL SMTP CONFIG (for testing emails)
MAIL_USER=<your-local-email@example.com>
MAIL_HOST=smtp.yourmailserver.com
MAIL_PORT=587
MAIL_SECURE=false
MAIL_LOGIN=<your-smtp-login>
SMTP_KEY=<your-smtp-password-or-app-key>


# BREVO (Sendinblue) CONFIG
# (used in production with verified domain)
BREVO_API_KEY=<your-brevo-api-key>